<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new pet</title>
</head>
<body>
<form  th:object="${pet}" method="post" >

    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Date of Birth: <input type="text" th:field="*{dob}"
                             placeholder="YYYY-MM-DD" title="Enter a date in this format: YYYY-MM-DD"/></p>
    <label for="types">Choose a type:</label>
    <select id="types" th:field="*{petType}">
        <option th:each="type : ${types}"
                th:value="${type.name}"
                th:text="${type.name}" ></option>
    </select>
    <p>Description: <input type ="text" th:field ="*{description}"/></p>
    <p><input type="submit" value="Submit" />
        <input type="reset" value="Reset" /></p>
    <p th:each="err : ${#fields.allErrors()}" th:text="${err}">Error</p>
</form>

</body>
</html>